
<div class="flex justify-center items-center">
	<a href="/">Home</a>
	<a href="/about/">About</a>
</div>

<style>
	a {
		border: 1px solid;
		border-radius: 6px;
		padding: 6px 8px;
		margin: 0 1em;
		text-decoration: none;
		color: inherit;
	}
</style>
