---
const { href, svg } = Astro.props;
---

<a
  href={href}
  class="flex flex-col items-center p-3 rounded-full hover:bg-primary/10 transition-colors group"
>
  <svg
    viewBox="0 0 24 24"
    aria-hidden="true"
    class="h-6 w-6 group-aria-[current=page]:font-bold group-aria-[current=page]:text-primary"
    fill="currentColor"
  >
    <g><path d={svg}></path></g>
  </svg>
  <span class="text-xs mt-1 group-aria-[current=page]:text-primary">
    <slot />
  </span>
</a>
